<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705922554900-16u69lhbdt8147f9jak37db3bu4o16mn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705922554900-16u69lhbdt8147f9jak37db3bu4o16mn</string>
	<key>API_KEY</key>
	<string>AIzaSyDAS9sNjSmXqUFN4KFhraddIQP58E1QDxg</string>
	<key>GCM_SENDER_ID</key>
	<string>705922554900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.calorieCalculator</string>
	<key>PROJECT_ID</key>
	<string>fir-test-b00a1</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-b00a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705922554900:ios:6a3400a15617b2f6ff1b01</string>
	<key>DATABASE_URL</key>
	<string>https://fir-test-b00a1-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>